**/.env*
**/*.key
**/config/master.key
**/config/credentials/*.key

**/node_modules/
**/.pnp
**/.pnp.js
**/.bundle
**/.yarn-cache/

**/.next/
**/out/
**/build/
**/public/assets
**/app/assets/builds/*
!**/app/assets/builds/.keep
**/.vercel

**/db/*.sqlite3
**/db/*.sqlite3-journal
**/db/*.sqlite3-*
**/storage/*
!**/storage/.keep
**/tmp/*
!**/tmp/.keep
**/tmp/pids/*
!**/tmp/pids/.keep
**/tmp/storage/*
!**/tmp/storage/.keep
**/public/system/*

**/log/*
!**/log/.keep
**/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
**/.DS_Store
.vscode/
.idea/
*.swp
*~
*.suo
*.ntvs*
*.njsproj

**/coverage/